<div class="my-5 flex h-full flex-col gap-4">
    <div class="mx-auto flex w-fit grow flex-col items-center px-2 pt-5">
        <!-- WARN: The "top" property on this container must be as high as the navbar.-->
        <div
            class="sticky top-20 -mt-4 flex w-full items-baseline justify-between bg-background py-4"
        >
            <label class="flex items-baseline" hlmLabel>
                <hlm-switch
                    class="mr-2 inline-block translate-y-1/3"
                    (changed)="this.toggleFriendsFilter()"
                    [checked]="this.filters().filterFriends"
                />
                {{ this.dict().onlyFriends }}
            </label>
            <h1 class="text-xl">{{ this.dict().title }}</h1>
            <brn-select
                class="inline-block"
                placeholder="Game mode"
                (ngModelChange)="this.changeGameMode($event)"
                [(ngModel)]="this.filters().gameMode"
            >
                <hlm-select-trigger>
                    <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content class="min-w-44">
                    <hlm-option value="guessLine">{{
                        this.dict().guessLine
                    }}</hlm-option>
                    <hlm-option value="guessSong" selected>{{
                        this.dict().guessSong
                    }}</hlm-option>
                </hlm-select-content>
            </brn-select>
        </div>
        @if (this.leaderboard()) {
            <app-leaderboard-table
                [leaderboard]="this.leaderboard()!.leaderboard"
                class="mx-auto"
            ></app-leaderboard-table>
        }
    </div>
    @if ((this.leaderboard()?.totalPages ?? 1) !== 1) {
        <nav
            hlmPagination
            class="sticky bottom-0 -mt-4 bg-background pb-5 pt-4"
        >
            <ul hlmPaginationContent>
                <li hlmPaginationItem>
                    <button
                        type="button"
                        [disabled]="this.leaderboard()!.totalPages === 1"
                        class="hover:bg-background hover:text-muted disabled:text-muted"
                        (click)="
                            this.changePage(
                                this.filters().page === 1
                                    ? this.leaderboard()!.totalPages
                                    : this.filters().page - 1
                            )
                        "
                    >
                        <hlm-pagination-previous [text]="this.dict().previous" />
                    </button>
                </li>
                @for (page of this.navigationPages(); track page) {
                    <li hlmPaginationItem>
                        <button
                            hlmPaginationLink
                            (click)="this.changePage(page)"
                            [isActive]="this.filters().page === page"
                        >
                            {{ page }}
                        </button>
                    </li>
                }
                <li hlmPaginationItem>
                    <button
                        type="button"
                        (click)="
                            this.changePage(
                                (this.filters().page %
                                    this.leaderboard()!.totalPages) +
                                    1
                            )
                        "
                    >
                        <hlm-pagination-next [text]="this.dict().next" />
                    </button>
                </li>
            </ul>
        </nav>
    }
</div>
