<h1>cualquier cosa</h1>
<p class="text-red-950 font-bold text-3xl">puto el q lee</p>
<a href="https://www.youtube.com/watch?v=qVbBA9Vsfx4"
  ><button>un boton</button></a
>

<div class="w-full flex flex-row justify-center">
  <div class="w-[90rem] h-96 shadow-2xl rounded-2xl flex flex-col justify-center border-green-800 border-2 p-4 hover:bg-green-300 overflow-hidden transition-colors duration-700">
    <img
      src="https://image.europafm.com/clipping/cmsimages01/2024/05/03/F3B4F989-36EC-4677-8A74-B8AD9E57E3C9/gummibar-videoclip-osito-gominola_98.jpg?crop=716,403,x0,y65&width=1900&height=1069&optimize=low&format=webply"
      class="w-full"
      ult=""
    />
  </div>
</div>
