@if (this.isEmpty){
<div class="mt-32 flex flex-col items-center justify-center">
    <hlm-dialog>
        <button
            brnDialogTrigger
            class="align-center size-12 trnasition-transform m-5 animate-pulse hover:scale-110"
        >
            <app-plus></app-plus>
        </button>
        <hlm-dialog-content *brnDialogContent="let ctx2">
            <app-artist-finder></app-artist-finder>
        </hlm-dialog-content>
    </hlm-dialog>
    <h1
        class="mx-auto bg-gradient-to-r from-purple-500 via-fuchsia-500 via-[30%] to-orange-500 to-[calc(100%+15rem)] bg-clip-text text-center text-3xl font-extrabold text-transparent"
    >
        {{this.dict().empty}}
    </h1>
</div>
} @else {
<div class="relative flex w-full items-center justify-between">
    <h1
        class="mb-5 bg-gradient-to-r from-purple-500 via-fuchsia-500 via-[30%] to-orange-500 to-[calc(100%+15rem)] bg-clip-text text-3xl font-extrabold text-transparent"
    >
        {{this.dict().welcome(this.name!)}}
    </h1>
    <hlm-dialog class="h-min">
        <button
            brnDialogTrigger
            class="my-2 h-10 transition-transform hover:scale-110"
        >
            <app-plus></app-plus>
        </button>
        <hlm-dialog-content *brnDialogContent="let ctx2" class="max-w-full">
            <app-artist-finder class="max-w-full"></app-artist-finder>
        </hlm-dialog-content>
    </hlm-dialog>
</div>
<app-collection-artist-card></app-collection-artist-card>
}
