<h1 class="mb-5">
    <span class="font-semibold text-neutral-300">
        {{ this.dict().title }}
    </span>
    <span class="text-neutral-400"> {{ this.dict().subtitle }} </span>
</h1>

<input
    hlmInput
    type="text"
    name="query"
    [placeholder]="this.dict().indications"
    value=""
    class="w-full"
    [(ngModel)]="this.usersFilter"
    (ngModelChange)="search()"
/>

<hlm-table class="h-96 w-96 overflow-y-scroll scroll-auto">
    @for (artist of matchedArtists(); track artist.id) {
        <hlm-trow class="flex py-2">
            <hlm-td>
                <img
                    src="{{ artist.images[0].url }}"
                    class="h-12 w-12 rounded-3xl"
                />
            </hlm-td>
            <hlm-td class="flex flex-grow gap-2 bg-center backdrop-blur-md">
                <div class="flex flex-col">
                    <div>
                        <span class="text-lx font-bold">{{ artist.name }}</span>
                    </div>
                    <span class="text-xs">
                        {{ this.dict().followerCount(artist.followers.total) }}
                        {{ this.dict().followers }}
                    </span>
                </div>
            </hlm-td>
            <hlm-td>
                <button (click)="this.addArtist(artist.id)">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="size-6"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z"
                            clip-rule="evenodd"
                        />
                    </svg>
                </button>
            </hlm-td>
        </hlm-trow>
    }
</hlm-table>
