<ul
    class="group/card w-full overflow-hidden rounded-lg bg-cover bg-center"
    style="background-image: url({{
        this.imagePicker.getImageUrl(this.artist().images, 200 * 200)
    }});"
>
    <li
        class="flex h-full w-full gap-4 p-4 backdrop-blur-xl backdrop-brightness-75"
    >
        <img
            [src]="
                this.imagePicker.getImageUrl(this.artist().images, 500 * 500)
            "
            alt=""
            class="aspect-square h-16 rounded drop-shadow"
        />
        <div class="flex w-full overflow-hidden flex-col justify-between">
            <h3
                class="w-full flex-shrink overflow-hidden truncate text-xl font-extrabold drop-shadow"
            >
                {{ this.artist().name }}
            </h3>
            <div class="flex w-full max-w-full flex-row items-end justify-between">
                <span
                    class="w-full max-w-20 truncate drop-shadow sm:max-w-[calc(100%-5rem)]"
                >
                    {{
                        this.dict().followerCount(this.artist().followers.total)
                    }}
                </span>
                <div class="flex items-end">
                    <button
                        [size]="'icon'"
                        hlmBtn
                        [variant]="'ghost'"
                        class="-mb-1 mr-2 h-fit w-fit bg-transparent p-1 drop-shadow transition-all duration-300 ease-in-out group-focus-within/card:translate-y-0 group-focus-within/card:rotate-0 group-focus-within/card:duration-0 group-hover/card:translate-y-0 group-hover/card:rotate-0 sm:translate-y-[150%] sm:rotate-[90deg]"
                        (click)="this.play.emit(this.artist())"
                    >
                        <hlm-icon name="lucidePlay"></hlm-icon>
                    </button>
                    <button
                        [size]="'icon'"
                        hlmBtn
                        [variant]="'destructive'"
                        class="-mb-1 h-fit w-fit bg-transparent p-1 drop-shadow transition-all delay-75 duration-300 ease-in-out group-focus-within/card:translate-y-0 group-focus-within/card:rotate-0 group-focus-within/card:scale-100 group-focus-within/card:delay-0 group-focus-within/card:duration-0 group-hover/card:translate-y-0 group-hover/card:rotate-0 group-hover/card:scale-100 sm:translate-y-[150%] sm:rotate-[90deg] sm:scale-75"
                        (click)="this.destroy.emit(this.artist())"
                    >
                        <hlm-icon name="lucideX"></hlm-icon>
                    </button>
                </div>
            </div>
        </div>
    </li>
</ul>
