@for (char of this.text(); track $index) {
    <span
        [ngClass]="{
            'inline-block font-mono h-[1.2em] -translate-y-1/2 border-b-2 mx-0.5 border-transparent  text-foreground opacity-0 transition-all duration-500 ease-in-out': true,
            '[&]:translate-y-0 [&]:opacity-100': this.show,
            'border-b-amber-500': this.hints()[$index].isInWrongPlace,
            'border-b-emerald-500': this.hints()[$index].isCorrect,
            'border-b-slate-500': this.hints()[$index].isWrong,
            'animate-bounce': this.isCorrect(),
            'text-transparent': char === ' ',
        }"
        [style.transitionDelay.ms]="25 * $index"
        [style.animationDelay.ms]="-1000 + 1000 / this.text().length * $index"
        style="animation-duration: 1s"
        >{{ char === ' ' ? '_' : char }}</span
    >
}
