<code class="w-full gap-2 font-mono uppercase">
    @for (char of this.text(); track $index) {
        <span
            class="inline-block border-r-2 border-transparent bg-slate-500 p-1 sm:p-2 text-center font-mono leading-loose shadow first-of-type:rounded-l last-of-type:rounded-r"
            [ngClass]="{
                '[&]:bg-emerald-500': char.hint === 'Correct',
                '[&]:bg-amber-500': char.hint === 'Wrong spot',
                '[&&]:bg-fuchsia-500': isSelected($index),
                '[&]:border-fuchsia-500':
                    this.selection()?.start === $index + 1,
            }"
            >{{ char.char === " " ? "&NonBreakingSpace;" : char.char }}</span
        >
        <!--@if ("\n ".includes(char.char)) {-->
        <!--    <wbr />-->
        <!--}-->
    }
</code>
