<h3 class="w-full gap-2 font-mono">
    @for (char of this.text(); track $index) {
        <span
            class="px-2 py-2 bg-slate-500 border-r-2 border-transparent first-of-type:rounded-l last-of-type:rounded-r text-center leading-loose shadow"
            [ngClass]="{
                '[&]:bg-emerald-500': char.hint === 'Correct',
                '[&]:bg-amber-500': char.hint === 'Wrong spot',
                '[&&]:bg-fuchsia-500': isSelected($index),
                '[&]:border-fuchsia-500': this.selection()?.start === ($index + 1)
            }"
            >{{ char.char }}</span
        >
        @if ("\n ".includes(char.char)) {
            <wbr />
        }
    }
</h3>
