<div
    class="relative h-screen border-8 bg-background"
    style="
        border-image: linear-gradient(to right, #7e22ce, #d10082 30%, #f97316) 1;
    "
>
    <div class="flex h-full items-center justify-center">
        <div class="flex w-1/2 flex-col items-center text-center">
            <h1
                class="xl:text-10xl mx-auto animate-bounce bg-gradient-to-r from-purple-500 via-fuchsia-500 via-[30%] to-orange-500 to-[calc(100%+15rem)] bg-clip-text text-6xl font-extrabold text-transparent sm:text-7xl md:text-8xl lg:text-9xl"
            >
                Popdle!
            </h1>
            <p class="text-lg">{{this.dict().description}}</p>
            <div class="flex flex-shrink-0 items-baseline gap-4">
                <a
                    class="cursor-pointer rounded-2xl bg-[url('/diagonal-lines.svg')] px-4 py-6 text-2xl font-extrabold transition-all hover:scale-110"
                    hlmBtn
                    [routerLink]="this.safeRouter.createLink('/auth/login')"
                    variant="outline"
                >
                    {{ this.dict().play }}
                </a>
            </div>
        </div>
    </div>
    <div
        class="absolute bottom-3 left-1/2 -ml-5 block size-10 animate-bounce cursor-pointer"
    >
        <app-down-arrow (click)="this.scrollToBottom()"></app-down-arrow>
    </div>
</div>

<div class="h-screen">
    <div class="flex h-full flex-wrap items-center justify-center px-4">
        <div
            class="m-4 flex h-96 w-full flex-col items-center justify-center border-8 border-purple-500 bg-black p-6 text-center shadow-lg md:w-96"
        >
            <h1
                class="bg-gradient-to-r from-purple-500 via-fuchsia-500 via-[30%] to-orange-500 to-[calc(100%+15rem)] bg-clip-text text-xl font-bold text-transparent sm:text-2xl"
            >
                {{this.dict().projectTitle}}
            </h1>
            <p class="text-base sm:text-lg">{{this.dict().aboutProject}}</p>
        </div>

        <div
            class="m-5 flex h-96 w-full flex-col items-center justify-center border-8 border-fuchsia-500 bg-black p-6 text-center shadow-lg md:w-96"
        >
            <h1
                class="bg-gradient-to-r from-purple-500 via-fuchsia-500 via-[30%] to-orange-500 to-[calc(100%+15rem)] bg-clip-text text-xl font-bold text-transparent sm:text-2xl"
            >
                {{this.dict().usTitle}}
            </h1>
            <p class="text-base sm:text-lg">{{this.dict().aboutUs}}</p>
        </div>
    </div>
</div>
