<div class="flex flex-wrap gap-4">
  @for (artist of this.homeArtistsService.artists(); track $index) {
    <div class="relative w-96 bg-gray-800 text-white rounded-lg shadow-lg overflow-hidden" style="margin: 0.rem;">
      <img
        class="absolute inset-0 h-full w-full object-cover opacity-50"
        src={{artist.data.imageUrl}}
        alt={{artist.data.name}}
      />
      <div class="relative p-6">
        <h1 class="text-3xl font-bold">{{artist.data.name}}</h1>
        <p class="text-l mt-2">{{artist.data.followers}} followers</p>
        <a href={{artist.data.externalUrls}} class="absolute top-0 right-0 m-2">
          <img src="../../../assets/svgs/spotify-icon.svg" alt="Spotify Logo">
        </a>
        <div class="mt-4 text-right">
          <button class="px-4 py-2 bg-fuchsia-500 hover:bg-fuchsia-700 text-white rounded">Popdle</button>
        </div>
      </div>
    </div>
  }
</div>
