<nav
    class="container flex h-20 w-full flex-row items-center rounded-b-2xl border-2 border-t-0 border-muted px-6 py-4 text-xl backdrop-blur-2xl backdrop-brightness-50 md:items-baseline"
>
    <div class="flex h-full w-1/2 flex-row items-baseline gap-4">
        <img
            src="/icon.svg"
            alt=""
            class="-my-2 -mt-8 inline h-[calc(100%+1rem)] w-auto self-center"
        />
        <div class="hidden md:block">
            <a
                [routerLink]="this.safeRouter.createLink('/app/home')"
                class="underline-offset-8"
                [ngClass]="{
                    underline: this.currentSection().home,
                    'text-muted-foreground': !this.currentSection().home,
                }"
            >
                {{ this.dict().home }}</a
            >
            <a
                [routerLink]="this.safeRouter.createLink('/app/leaderboards')"
                class="underline-offset-8"
                [ngClass]="{
                    underline: this.currentSection().leaderboards,
                    'text-muted-foreground':
                        !this.currentSection().leaderboards,
                }"
            >
                {{ this.dict().leaderboards }}</a
            >
        </div>
    </div>
    <div class="flex flex-shrink-0 items-baseline gap-4">
        <a
            class="cursor-pointer rounded-2xl bg-[url('/diagonal-lines.svg')] px-4 py-6 text-2xl font-extrabold transition-all hover:scale-110"
            [routerLink]="this.safeRouter.createLink('/app/game')"
            hlmBtn
            variant="outline"
            [ngClass]="{
                underline: this.currentSection().game,
            }"
        >
            {{ this.dict().play }}
        </a>
    </div>
    <div
        class="flex h-full w-1/2 flex-grow items-center justify-end gap-2 self-center"
    >
        <brn-popover sideOffset="5" closeDelay="100">
            <button brnPopoverTrigger hlmBtn variant="ghost" class="h-full">
                <hlm-icon [size]="'lg'" name="lucideBell"></hlm-icon>
            </button>
            <section hlmPopoverContent *brnPopoverContent="let ctx">
                <hlm-tabs tab="account">
                    <hlm-tabs-list
                        class="grid w-full grid-cols-2"
                        aria-label="tabs example"
                    >
                        <button hlmTabsTrigger="account">
                            {{ this.dict().friendRequests }}
                        </button>
                        <button hlmTabsTrigger="password">
                            {{ this.dict().blocked }}
                        </button>
                    </hlm-tabs-list>
                    <div hlmTabsContent="account">
                        <app-friendships></app-friendships>
                    </div>
                    <div hlmTabsContent="password">
                        <app-blocking></app-blocking>
                    </div>
                </hlm-tabs>
            </section>
        </brn-popover>
        <button
            [routerLink]="this.safeRouter.createLink('/app/profile')"
            appLoadProfilePicture
            [profilePictureFilename]="this.selfInfo()?.profilePictureFile"
            class="aspect-square h-full w-auto rounded-full bg-white p-1"
        ></button>
    </div>
</nav>
