<!-- FIXME: Translate page -->
<div
    class="mx-auto mt-10 flex w-full max-w-lg flex-col items-start gap-5 rounded-xl bg-gradient-to-b from-neutral-800 to-zinc-900 to-80% p-10"
>
    <div class="flex w-full items-baseline justify-between">
        <h1
            class="flex w-full flex-row items-baseline justify-between overflow-hidden text-4xl leading-[3rem]"
        >
            <span>
                Let's guess a
                <span
                    class="inline-block transition-transform duration-500"
                    [ngClass]="{
                        '': this.selected === 'line!',
                        'translate-y-[150%]': this.selected === 'song!',
                    }"
                >
                    <span
                        class="inline-block w-0"
                        [attr.aria-hidden]="selected !== 'line!'"
                    >
                        line!
                    </span>
                    <span
                        class="inline-block -translate-y-[150%]"
                        [attr.aria-hidden]="selected !== 'song!'"
                    >
                        song!
                    </span>
                </span>
            </span>
        </h1>
        <button
            hlmBtn
            type="button"
            size="icon"
            variant="ghost"
            class="ms-auto"
            (click)="this.next()"
        >
            <hlm-icon name="lucideArrowUpDown"></hlm-icon>
        </button>
    </div>
    <div class="w-full">
        <div class="flex flex-row items-baseline justify-between">
            <h2 class="text-lg font-bold">From these artists</h2>
            <button type="button" hlmBtn variant="ghost" size="icon">
                <hlm-icon name="lucidePlus"></hlm-icon>
            </button>
        </div>
        <hlm-scroll-area class="gradient-mask-t-0 h-[26rem] w-full">
            <div class="flex flex-col gap-2 rounded">
                @for (artist of this.artists(); track artist.spotifyArtistId) {
                <app-artist-list-item
                    [artist]="artist"
                    (destroy)="this.remove($event)"
                ></app-artist-list-item>
                }
            </div>
        </hlm-scroll-area>
    </div>
    <button
        type="button"
        appCrFancyButtonStyles
        [disabled]="this.artists().length === 0"
        (click)="this.submit()"
    >
        Play!
    </button>
</div>
