<div class="m-6 flex items-center justify-self-center">
    <h1 class="p-2 text-4xl font-bold">{{ this.dict().titleFriends }}</h1>
    <app-trophy></app-trophy>
</div>
<div class="flex h-full w-1/4 items-center gap-2 justify-self-center">
    <hlm-tabs tab="account" class="w-full">
        <hlm-tabs-list
            class="grid w-full grid-cols-2"
            aria-label="tabs example"
        >
            <button hlmTabsTrigger="account">
                {{ this.dict().guessSong }}
            </button>
            <button hlmTabsTrigger="password">
                {{ this.dict().guessLine }}
            </button>
        </hlm-tabs-list>
        <div hlmTabsContent="account">
            <section hlmCard>
                <hlm-table hlmCardContent class="h-96 w-96 justify-self-center">
                    @for (
                        user of this.leaderboardService.friendsSongLeaderboard();
                        track user.id
                    ) {
                        <hlm-trow
                            [ngClass]="{
                                'bg-violet-500 bg-opacity-55':
                                    user.id ===
                                    this.localService.getItem('userInfo')!.id,
                            }"
                            class="flex py-2"
                        >
                            <hlm-td> </hlm-td>
                            <hlm-td
                                class="flex flex-grow gap-2 bg-center backdrop-blur-md"
                            >
                                <div class="flex flex-col">
                                    <div>
                                        <span class="text-lx font-bold">{{
                                            user.name
                                        }}</span>
                                    </div>
                                    <div>
                                        <span>&#64;</span
                                        ><span class="text-lx">{{
                                            user.username
                                        }}</span>
                                    </div>
                                </div>
                            </hlm-td>
                            <hlm-td class="text-lx font-bold">
                                {{ user.score }} P
                            </hlm-td>
                        </hlm-trow>
                    }
                </hlm-table>
            </section>
        </div>
        <div hlmTabsContent="password">
            <section hlmCard>
                <hlm-table hlmCardContent class="h-96 w-96 justify-self-center">
                    @for (
                        user of this.leaderboardService.friendsLineLeaderboard();
                        track user.id
                    ) {
                        <hlm-trow
                            [ngClass]="{
                                'bg-violet-500 bg-opacity-55':
                                    user.id ===
                                    this.localService.getItem('userInfo')!.id,
                            }"
                            class="flex py-2"
                        >
                            <hlm-td> </hlm-td>
                            <hlm-td
                                class="flex flex-grow gap-2 bg-center backdrop-blur-md"
                            >
                                <div class="flex flex-col">
                                    <div>
                                        <span class="text-lx font-bold">{{
                                            user.name
                                        }}</span>
                                    </div>
                                    <div>
                                        <span>&#64;</span
                                        ><span class="text-lx">{{
                                            user.username
                                        }}</span>
                                    </div>
                                </div>
                            </hlm-td>
                            <hlm-td class="text-lx font-bold">
                                {{ user.score }} P
                            </hlm-td>
                        </hlm-trow>
                    }
                </hlm-table>
            </section>
        </div>
    </hlm-tabs>
</div>
<div class="flex justify-center">
    <button
        (click)="this.openDialog()"
        class="rounded-full border-gray-500 px-6 py-3 text-white transition-all duration-700 hover:bg-gray-300 hover:text-black hover:shadow-lg focus:outline-none"
    >
        {{ this.dict().deleteDataButton }}
    </button>
</div>
<dialog
    #dialog
    class="relative mx-auto w-full max-w-lg space-y-6 rounded-xl bg-white p-8 text-center shadow-2xl ring-1 ring-gray-900/10"
>
    <div class="space-y-4">
        <button
            class="absolute right-2 top-1 size-3 px-6 py-3 text-black"
            (click)="this.closeDialog()"
        >
            ✖
        </button>
        <p class="text-lg font-bold text-gray-600">
            {{ this.dict().deleteDialog }}
        </p>
    </div>

    <div class="flex justify-between space-x-4">
        <button
            class="flex-1 rounded-lg bg-fuchsia-500 px-6 py-3 font-semibold text-white transition hover:bg-fuchsia-700 focus:outline-none focus:ring-4 focus:ring-red-400 focus:ring-opacity-50"
            (click)="this.deleteAllData('guessLine')"
        >
            {{ this.dict().guessLine }}
        </button>
        <button
            class="flex-1 rounded-lg bg-fuchsia-500 px-6 py-3 font-semibold text-white transition hover:bg-fuchsia-700 focus:outline-none focus:ring-4 focus:ring-red-400 focus:ring-opacity-50"
            (click)="this.deleteAllData('guessSong')"
        >
            {{ this.dict().guessSong }}
        </button>
    </div>
</dialog>
